header {
    background-color: black;
}
header > h1 {
    color: white;
    padding-left: 60px;
}
#loginform{
    float: right;
}
#logoutBtn{
    float: right;
}
#loginBtn {
    background-color: #226EDD;
    color: white;
    padding: 4px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
#logoutBtn {
    background-color: #FF6700;
    color: white;
    padding: 4px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: none;   /* logout-knapp dold som standard */
}
#wrongCredentials {
    color: rgb(255, 0, 0);
    display: none;   /* Felmeddelandet för felaktiga inloggningsuppgifter dold som standard */
}
body{
    min-height: 98vh;
    display: flex;
    flex-direction: column;
}
.kanbanBoard {
    padding-top: 35px;
    display: flex;
    column-gap: 25px;
    align-items: center;
    justify-content: center;
}
.kanbanColumn {
    background-color: #BCBCBC;
    margin: 10px;
    width: 350px;
    height: auto;
    overflow:hidden;
    border-radius: 15px;
}
.kanbanColumn > h2 {
    padding-left: 25px;
}
.kanbanNewCardBtn {
    all: unset;
    color: black;
    -webkit-text-fill-color: black;
    cursor: pointer;
    padding-left: 25px;
    padding-bottom: 10px;
    display: none;   /* Lägg till ett kort-knapparna dold som standard */
}
.kanbanCard {
    padding-left: 25px;
    padding-right: 25px;
    margin: 10px;
    word-wrap: break-word;
    background-color: white;
    width: 280px;
    height: auto;
    border-radius: 15px;
}
footer {
    margin-top: auto;
    text-align: center;
    font-size: 20px;
}
@media only screen and (max-width: 600px) {
    header > h1 {
        font-size: 20px;
        text-align: center;
    }
    #loginform{
        text-align: center;
    }
    .kanbanBoard {
        flex-direction: column;
    }
}