* {
    font-family: sans-serif;
}
header {
    background-color: black;
}
header > h1 {
    color: white;
    padding-left: 60px;
}
#loginform{
    float: right;
}
#logoutBtn{
    float: right;
}
#loginBtn {
    background-color: #226EDD;
    color: white;
    padding: 4px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
#logoutBtn {
    background-color: #FF6700;
    color: white;
    padding: 4px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: none;   /* logout-knapp dold som standard */
}
#wrongCredentials {
    color: rgb(255, 0, 0);
    display: none;   /* Felmeddelandet för felaktiga inloggningsuppgifter dold som standard */
}
body{
    min-height: 98vh;
    display: flex;
    flex-direction: column;
}
.kanbanBoard {
    padding-top: 35px;
    display: flex;
    column-gap: 25px;
    align-items:flex-start;
    justify-content: center;
}
.kanbanColumn {
    min-height: 10rem;
    border-radius: 5px;
    justify-content: space-between;
    
}
.outerKanbanColumn{
    background-color: #BCBCBC;
    margin: 0.5rem;
    width: 42rem;
    height: auto;
    overflow:hidden;
    border-radius: 5px;
}
.outerKanbanColumn > h2 {
    padding-left: 25px;
}
.kanbanNewCardBtn {
    all: unset;
    color: black;
    -webkit-text-fill-color: black;
    cursor: pointer;
    padding-left: 25px;
    padding-bottom: 10px;
    display: none;   /* Lägg till ett kort-knapparna dold som standard */
}
.kanbanCard {
    padding: 1rem;
    margin: 1REM;
    word-wrap: break-word;
    background-color: white;
    width: auto;
    height: auto;
    border-radius: 5px;
}
#removeCardBtn{
    background-color: #ff0000;
    color: white;
    padding: 0.3rem 0.4rem;
    margin-top:  0.6rem;
    margin-bottom: 0.3rem;
    text-decoration: none;
    font-size: 12px;
}
#changeCardBtn{
    background-color: #226edd;
    color: white;
    padding: 0.3rem 0.4rem;
    text-decoration: none;
    font-size: 12px;
}
#saveCardBtn{
    background-color: #226edd;
    color: white;
    padding: 2px 32px;
    margin: 8px;
    text-decoration: none;
    font-size: 12px;
}
textarea {
    border-radius: 5px;
    max-width: max-content;
    min-width: 100%;
    margin-top: 10px;
    width: 0px;
}
.savedText {
    border: 1px solid grey;
    border-radius: 7px;
    padding: 7px;
    background-color: white;
}
.cardNumber {
    /* border: 1px dotted pink; */
    display: flex;
    flex-direction: row-reverse;
    margin: 2px;
}
.discardButton{
    border-radius: 10px;
    border: none;
    background-color: white;
    font-size: larger;
    font-family: monospace;
    margin-top: 10px;
}
.discardButtonContainer {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    align-items: flex-start;
}
footer {
    margin-top: auto;
    text-align: center;
    font-size: 20px;
}
@media only screen and (max-width: 600px) {
    header > h1 {
        font-size: 20px;
        text-align: center;
    }
    #loginform{
        text-align: center;
    }
    .kanbanBoard {
        flex-direction: column;
    }
}